#footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(131, 129, 129); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}
.footer-link {
    margin-top: 5vmax;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    min-height: 30vh;
    background-color: #F8F8F8;
}

.footer-link > div {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.footer-link > div li {
    list-style-type: none;
    margin-top: .8rem;
}

.footer-link > div li:first-child{
    font-size: 1.2rem;
}

.footer-link > div a {
    text-decoration: none;
    color: grey; 

}

.footer-link > div a:hover {
    color: tomato;
    border-bottom: 1px solid tomato;
}

.footer-link > div li img {
    width: 100%; 
}
 

.leftFooter{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftFooter > h4{
    font-size: 1vmax;
    font-family: "Franklin Gothic Medium", "Arial Merrow", "Arial", sans-serif;
}

.leftFooter > p{
    font-family: "Lucida sans", "Arial Merrow", "Arial", sans-serif;
    text-align: center;
}
.leftFooter > img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.logo-section { 
    width: 25%;
}

.logo-section > img {
    width: 25vmax;
    height: 6vmax;
    color: white !important;
    /* -webkit-filter: drop-shadow(5px 5px 5px #fff );
    filter: drop-shadow(5px 5px 5px #fff); */
}

.logo-section > div {
    padding: 0 4vmax;
}

.logo-section > div li {
    list-style-type: none;
}

.logo-section > div li a {
    text-decoration: none;
    display: block;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    margin-top: .4rem;
}

.midFooter {
    width: 25%;
    text-align: center;
}

.midFooter > h1{
    font-size: 3vmax;
    font-family: 'Roboto';
    color: rgb(240, 220, 44);
}

.midFooter > p{ 
    margin: 1vmax auto;
}

.rightFooter{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.rightFooter > h4{ 
    font-family:'Roboto';
    font-size: 1.4vmax;
}

.rightFooter > a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Gill sans", "Gill sans MI", calibri;
    color: white;
    margin: .5vmax;
    transition: all .5s;
}

.rightFooter > a:hover{
    color:rgb(235, 215, 35);
}