.resetPasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 5%;
    left: 0%;
}

.resetPasswordBox {
    background-color: white;
    width: 50vw;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
}
.resetPasswordHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.632);
    font: 400 1.8vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: auto;
}
.resetPasswordBox > div > button {

    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}
 .resetPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}
 .resetPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}
 .resetPasswordForm > div > input {
    padding: 1vmax 3vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 500 0.9vmax cursive;
    margin: 1vmax 0;
}
 .resetPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623)
}

.resetPasswordForm > div > svg:last-child {
    position: absolute;
    cursor: pointer;
    right: 5%;
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623)
}

.loginForm > a {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.8vmax "Gill sens";
}
 
.loginBtn, .resetPasswordBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 500 1vmax "Roboto";
    width: 100%;
    cursor: pointer;
    padding: 1vmax;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.213);
}

.loginBtn:hover, .resetPasswordBtn:hover {
    background-color: rgb(179, 66, 46);
}

.shiftToLeft{
    transform: translateX(-100%);
}

.shiftToNeutral {
    transform: translateX(0%);
}

.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%)
}

.shiftToRight{
    transform: translateX(100%)
}


@media screen and (max-width: 600px){
    
    .resetPasswordContainer {
        background-color: white;

    }
    .resetPasswordBox {
        width: 100vw;
        height: 95vh;
    } 
    .resetPasswordForm > div > input {
        padding: 2.5vmax 5vmax;
        font: 400 1.7vmax cursive;
    }

     .resetPasswordForm > div > svg{
        font-size: 2.8vmax ;
    }
 
     .resetPasswordBtn {
        padding: 2vmax;
        font-size: 2vmax;
    }
}